.App{
    display: flex;
    color: white;
}

.Weathercontainers{
    height: 100vh;
    width: 100%;
    background:#100E1D;
}
@media screen and (max-width: 500px) {
    .App {
      flex-direction: column;
    }
    .Leftcontainer{
        height: auto;
        width: 100%;
        background: #1E213A;
        color: white;
    }
    .Weathercontainers{
        height:auto;
        width: 100%;
        background:#100E1D;
    }
  }